body {
    font-family: 'Roboto', sans-serif;
    background-color:#F5F5DC;
    color : #800000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}


#navbar {
    position: sticky;
    top: 0;
    background-color: #acac1c; 
    z-index: 100; /* to ensure navbar stays on top of other content */
    padding: 10px 0; 
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    gap:20px
}

#navbar ul li a {
    color: #800000; 
    text-decoration: none; /* removes the default underline of links */
}

#navbar ul li a:hover {
    color: #000000; /* color when link is hovered */
}



#about-me, #projects, #contact-me {
    margin: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-links img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.content-item {
    flex: 1;  /* each div takes up an equal amount of space in the container */
}

.project-gif {
    transition: transform 0.2s ease-in-out;
}

/*  translate to the right on hover, move  
moving the element 30% of the element's own width to the right*/
.col-1 .project-gif:hover {
    transform: scale(1.7) translate(30%, 30%);
}

.col-2 .project-gif:hover {
    transform: scale(2.3);
}

.col-3 .project-gif:hover {
    transform: scale(1.7) translate(-30%, 30%);
}

footer {
    width: 100%;
    padding: 20px 0;
    background-color: #F5F5DC;
    color: #800000;
}

#contact-me a {
    display: block; /* each link occupies its own line */
    margin-bottom: 10px; 
}



@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }
    .col-1 .project-gif:hover,
    .col-3 .project-gif:hover {
        transform: none;
    }
}

