
:root {
    --primary-color: #f5f5dc;  /*light beige */
    --secondary-color: #800000; /*dark red */
    --tertiary-color: #acac1c; /*Gold */
    --quaternary-color: #333333; /*dark grey*/

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Playfair Display', serif;
}

html {
    font-size: 16px; /* Default font size for larger screens */
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    line-height: 1.6;

    background-color: var(--primary-color);
    color: var(--quaternary-color);
    margin:auto;
}

h1 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

 h2 {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

div > p:first-child {
    margin-top: 0;
}


#navbar {
    position: sticky;
    top: 0;
    background-color: var(--tertiary-color);
    z-index: 100; /* to ensure navbar stays on top of other content */
    padding: 10px 0; 
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    gap:20px
}

#navbar ul li a {
    color: var(--quaternary-color); 
    text-decoration: none; /* removes the default underline of links */
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#navbar ul li a:hover {
    color: var(--secondary-color);
}


#about-me, #projects, #contact-me {
    margin: 10px;
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  
}

.grid-item {
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);  /*  subtle shadow for a 3D effect */
    
}


.grid-item img {
    width: 100%;
    height: auto;
    
}


.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-links img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.content-item {
    flex: 1;  /* each div takes up an equal amount of space in the container */
}

.project-gif {
    transition: transform 0.2s ease-in-out;
}

/*  translate to the right on hover, move  
moving the element 30% of the element's own width to the right*/
.col-1 .project-gif:hover {
    transform: scale(1.7) translate(30%, 30%);
}

.col-2 .project-gif:hover {
    transform: scale(1.7) translate(0, 30%);
}

.col-3 .project-gif:hover {
    transform: scale(1.7) translate(-30%, 30%);
}

.col-4 .project-gif:hover {
    transform: scale(1.7) translate(30%, -30%);
}

.col-5 .project-gif:hover {
    transform: scale(1.7) translate(0%, -30%);
}

footer {
    width: 100%;
    padding: 20px 0;
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
}

#contact-me a {
    display: block; /* each link occupies its own line */
    margin-bottom: 10px; 
}

.content-item.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
}

.tech-icon {
    text-align: center;
}

.icon {
    font-size: 2rem; 
}

.icon-name {
    display: block;
    margin-top: 10px;
}



@media (max-width: 576px) {
    html {
        font-size: 10px; 
    }
}


@media screen and (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }
    .col-1 .project-gif:hover,
    .col-2 .project-gif:hover,
    .col-3 .project-gif:hover,
    .col-4 .project-gif:hover {
        transform: none;
    }
    .grid {
        grid-template-columns: 1fr;
    }

    html {
        font-size: 12px; 
    }
}

