body {
    font-family: 'Roboto', sans-serif;
    background-color:#F5F5DC;
    color : #800000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

#about-me, #projects, #contact-me {
    margin: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-links img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}


@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}